<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.varsity.dgmdashboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:name=".DGMDashboardApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DGMDashboardApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.CallDialActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CallDialFeedbackAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DoorStepActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ProAddNotesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.RankCollageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressCollectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.LeadEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ProDashboardMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LeadAllocationManuallyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AssignedLeadsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddNotesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.NoteListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LeadAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>